<ion-content class="background-light" style="height: 100%;" >
	<div class="text-center">
        <img ng-if="!iflogin" style="border-radius: 5px;padding-top:100px;margin:auto;" width="80" src="img/ic_launcher.png" />
        <div ng-if="!iflogin"  class="text-center" style="font-size: 21px;margin-top: 50px;">{{mybook.name}}</div>
	    <button ng-if="!iflogin" style="margin-top:150px;background-color:#3eb94e;min-width: 120px;height: 40px;border-radius: 5px;color: white;border-style: none; //无边框outline: none;" ng-click="wxLogin()">微信登录
     </button>
		<img ng-if="iflogin" style="width: 85%; border-radius: 5px;margin: 5%;" src="img/book_pic.png" />
		<div ng-if="iflogin" style="position: fixed;bottom: 30px;left: 0px;width: 100%;text-align: center;">
			<div style="margin-bottom: 5px;font-size: 21px;font-weight: bold;">{{mybook.name}}</div>
		</div>
		
	</div>
</ion-content>
<div ng-show="showad" style="background:white;width:100%;height:100%;position:relative;">
	<img style="width:100%;height:100%;line-height:100%;padding: 10px;top:50%;left:0;transform: translate(0,-50%);;position: absolute;"  src={{"http://cz.kaouyu.com/upload/ad/"+ad.photo}} ng-click="openAdLink()" />
    <img style="width: 50px;position: absolute;right: 20px;top: 20px;background:gray;border-radius:50%;" src="img/common_close_iv.png" ng-click="showad=false" /> 
</div>
