
<!--<ion-header-bar class="bar-positive">
	<div class="buttons">
		<button class="button button-clear" ng-click="goUnit()">
                               返回
        </button>
	</div>

	<h1 class="title" style="text-align: center;">关于我们</h1>

</ion-header-bar>-->

	<div class="bar bar-header dy-word-common-top">
		<span class="s1" style="font-size: 22px;">关于我们</span><br>
		<span class="s3" ng-click="goBack()">返回</span>
	</div>


	<ion-content class="has-header backgroud-light"

		<div style="padding-bottom: 40px;">

			<div style="text-align: left;margin: 10px;font-size: 16px;line-height: 30px;">
				<!--&nbsp; &nbsp; &nbsp; &nbsp;烤鱿鱼是为英语学习提供智能支持的专业外语学习智能引擎，由北京优宇通教育科技有限公司倾注十年专注研发而成，拥有业界最前沿的智能化技术支持。烤鱿鱼从英语学习的听、说、读、写、译各个专项的诊断与学习出发，为您提供最专业的诊断报告、成绩分析和个性化资源推送，让您在移动互联时代拥有最优质的语音学习体验！-->
				<h4 style="text-align: center;">英语国际音标标准教程</h4>
            	<strong>  权威示范，精准解读，丰富视频，轻松快学!</strong>
                <div>本应用包含48个英语国际音标，通过视频示范、发音窍门讲解、跟读对比、听辨练习等多维度学习方式，帮助学习者快速掌握英语发音基础！</div>
                <br>
                <div>本应用结合先进的语音识别和智能学习技术，由权威的语言学专家和经验丰富的一线英语教师共同设计而成。</div>
 	            <br>
		        <strong>产品优势</strong>
		        <br> •单词联想：每个音标关联相应的单词，将抽象的音素学习融入到具体的单词学习中<br> • 权威示范：由英美专家带来地道的发音示范<br> • 窍门演示：通过真人视频和图片，直观、精准地演示发音要领<br> •对比解读：视频讲解易混淆音标的发音对比<br> • 跟读分析：提供单词、短语、绕口令等素材的跟读练习，并快速识别分析 <br> • 听辨练习：提供单词的听辨练习，以练促学，进一步巩固知识要点。<br>
				<strong>联系我们</strong>
				<br> • 关注“新课标同步背单词”官方微信公众号<br>
			</div>
			
			<div class="text-center" style="margin-top:20px ;" on-hold="saveVcode()" ng-click="wechatShare()">
				<img width="100px" src="img/gongzhonghao.jpg">
			</div>
			<!--<div class="text-center">
				分享关注官方微信公众号‘‘新课标同步背单词’’
			</div>-->
		
			<div style="text-align: center;margin-top: 30px;font-size: 16px;line-height: 35px;">
				Copyright © 2015-{{year}}
			</div>
			<div style="text-align: center;margin: 5px;font-size: 18px;line-height: 35px;">
				北京优宇通教育科技有限公司
			</div>
			<div style="text-align: center;margin-bottom: 30px;margin: 5px;font-size: 18px;line-height: 35px;">
				版权所有
			</div>
		</div>

	</ion-content>
