<div class="bar bar-header dy-word-common-top">
	<span class="s1" style="font-size: 22px;">我的验证码</span><br>
	<span class="s3" ng-click="goBack()">返回</span>	
</div>

<ion-content overflow-scroll="true" class="has-header backgroud-light">
	
	<div class="list" ng-if="book">
		<a class="item">
			<h2 style="-webkit-user-select: auto;padding-top: 5px;padding-bottom: 5px;white-space:normal;font-size:14px;color:green">{{book.code}}</h2>
			<p>{{book.name}}</p>
			<!--<div ng-show="book.leftover>0" class="text-center"><button class=" button button-small  button-balanced" ng-click="wechatShareCode(book.code,book.name)">&#12288;分享给{{book.leftover}}位好友&#12288;</button>
            </div>-->
            <div ng-show="book.leftover==0" class="text-center"><button class=" button button-small  button-stable" ng-click="">&#12288;分享次数已用完&#12288;</button>
            </div>
		</a>
	</div>
	
	<div class="text-left padding" style="color: red;" >注：长按绿色字体的验证码（包括==）复制发送给使用同一APP的好友，好友激活APP方法:APP激活->已有验证码->粘贴->激活成功。</div>

</ion-content>